body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://img.freepik.com/free-photo/3d-hyperspace-background-with-warp-tunnel-effect_1048-12526.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
